<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">News</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Post</a></li>
          <li class="breadcrumb-item"><a href="#!">create new post</a></li>
          <!-- <li class="breadcrumb-item" aria-current="page">Home</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breack-crum -->

<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h3>Create new Post</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="tile" class="form-label">Title (*)</label>
          <input type="text" id="title" class="form-control" required placeholder="Enter title here" />
        </div>
        <div class="form-group">
          <label for="desc" class="form-label">Desc</label>
          <textarea id="desc" type="text" class="form-control" placeholder="Enter desc" rows="6"></textarea>
        </div>
        <br />
      </div>
      <div class="card-header">
        <h5>Content post</h5>
      </div>
      <div class="card-body">
        <textarea id="pc-tinymce-4" name="pc-tinymce-4" class="tox-target" placeholder="Write here">
        </textarea>
      </div>
      <br />
      <div class="card-body">
        <div class="form-group">
          <div class="form-label">SEO keyword</div>
          <textarea class="form-control" id="keyMeta" rows="3" style="height: 96px"></textarea>
        </div>
        <div class="form-group">
          <div class="form-label">SEO Description</div>
          <textarea class="form-control" id="descMeta" rows="3" style="height: 96px"></textarea>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <!-- <div class="card-header"> -->
        <h3>Category</h3>
        <br />
        <!-- </div> -->
        <div class="form-group">
          <!-- <label class="form-label">Default select</label> -->
           <select id="formSelectCategory" class="form-select">
             <option value="default">Choose opotions</option>
             <% categories.forEach(cat=>{ %>
              <option value="<%=cat.id%>"><%= cat.name %></option>
              <%})%>
            </select>
        </div>
        <div class="form-group">
          <label for="" class="form-label">Alias Link</label>
          <input type="text" class="form-control" />
        </div>
        <div class="show-image" style="margin: 0 auto;" id="show-image">
          <img src="/img/hero-banner.jpg" data-folder="image-1.png" alt="pre-img" style="display: inline-block; width: 100%; height: 250px; object-fit: cover; ">
        </div> <br>
        <div class="form-group mb-3">
          <label class="form-label">Choose image</label>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Choose image</button>

        </div>
        <!-- action -->
        <div class="form-group">
          <button id="submitMaster" type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
          <!-- <button type="button" class="btn btn-danger">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- our ========================================================================================================================================================-->
<!-- [Page Specific JS] start -->
<!-- <script src="../assets/js/plugins/tinymce/tinymce.min.js"></script> -->
<script src="/admin/assets/js/plugins/tinymce/tinymce.min.js"></script>
<!-- tagify -->
<script>
  tinymce.init({
    selector: "#pc-tinymce-1",
    toolbar: false,
    height: "400",
    content_style: 'body { font-family: "Inter", sans-serif; }',
    statusbar: false,
  });

  tinymce.init({
    selector: "#pc-tinymce-2",
    height: "400",
    content_style: 'body { font-family: "Inter", sans-serif; }',
  });

  tinymce.init({
    height: "400",
    selector: "#pc-tinymce-3",
    content_style: 'body { font-family: "Inter", sans-serif; }',
    toolbar: "advlist | autolink | link image | lists charmap | print preview",
    plugins: "advlist autolink link image lists charmap print preview",
  });

  tinymce.init({
    height: "400",
    selector: "#pc-tinymce-4",
    content_style: 'body { font-family: "Inter", sans-serif; }',
    menubar: false,
    toolbar: [
      "styleselect fontselect fontsizeselect",
      "undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify",
      "bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code",
    ],
    plugins: "advlist autolink link image lists charmap print preview code",
  });
</script>
<!-- [Page Specific JS] end -->

<!-- [Modal ] -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal=========================================================================================================================== -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-body">
                <h1>Thư viện ảnh</h1>

                <form action="/create-folder" method="POST" class="mb-3">
                  <input type="text" name="folderName" placeholder="Tên thư mục" required class="form-control" />
                  <button type="submit" class="btn btn-primary">
                    Thêm thư mục
                  </button>
                </form>
                <br />

                <form action="/delete-folder" method="POST" class="mb-3">
                  <select name="folderName" class="form-select">
                    <% folders.forEach(folder=> { %>
                      <option value="<%= folder %>">
                        <%= folder %>
                      </option>
                      <% }) %>
                  </select>
                  <button type="submit" class="btn btn-primary">
                    Xóa thư mục
                  </button>
                </form>

                <ul id="myListFolder" class="list-group">
                  <% folders.forEach(folder=> { %>
                    <li data-id-folder="<%=folder%>">
                      <%= folder %>
                    </li>
                    <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="card">
              <div class="card-body">
                <h2>Thư mục: <%= folderName %>
                </h2>

                <form action="/upload/<%= folderName %>" method="POST" enctype="multipart/form-data">
                  <input type="file" name="image" required />
                  <button type="submit">Tải lên ảnh</button>
                </form>
              </div>
              <div class="card-body" id="image-content"></div>
            </div>
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- [Modal end] -->

<!-- My JQuery start-->

<script>
  $(document).ready(function () {
    $("#myListFolder").on("click", "li", function () {
      // "this" chính là thẻ <li> được click
      // alert('Bạn đã click vào: ' + $(this).text() +$(this).data('id-folder'));
      const name = $(this).data("id-folder");
      // alert("Bạn đã click vào: " + name);
      $.ajax({
        url: `/admin/mews/handle-image/${name}`,
        method: "POST",
        contentType: "application/json",
        // data: JSON.stringify({

        // }),
        // dataType: 'json',
        success: (res) => {
          console.log(res);
          document.getElementById("image-content").innerHTML = res;
        },
        error: (err) => {
          alert("Lỗi khi gửi yêu cầu AJAX");
        },
      });
    });

    //
    // $('#test_jquery').on('click', ()=>{
    // alert('JQuery is working!');

    // })
    $('#submitMaster').on('click', (e)=>{
      e.preventDefault(); //tranh readload trang
      const title  = $('#title').val();
      const desc = $('#desc').val();
      const content = tinymce.get("pc-tinymce-4").getContent();
      const category = $('#formSelectCategory').val();
      const keyMeta =$('#keyMeta').val();
      const descMeta =$('#descMeta').val();
      const dataFolder = $('#show-image img').data('folder');
      // console.log(title, desc, content, category, keyMeta, descMeta, dataFolder);  //check data
      //ajax
      $.ajax({
        url: '/admin/news/form-create-post',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          title,
          desc,
          content,
          category,
          keyMeta,
          descMeta,
          dataFolder
        }),
        success: (resp)=>{
          // alert("Tạo bài viết thành công!");
          alert("server resp: " + resp);
        },
        error: (err)=>{
          alert("Lỗi khi gửi yêu cầu AJAX"+ err);
        }

      });
      // ===



    })

    $("#saveBtn").on("click", function (e) {
      e.preventDefault(); // tránh reload


      // Lấy dữ liệu từ input
      const title = $("#title").val();
      const slug = $("#slug").val();

      // Lấy dữ liệu từ thuộc tính data
      const type = $(this).data("type");
      const user = $(this).data("user");

      // Gửi dữ liệu bằng jQuery AJAX
      $.ajax({
        url: "/api/save-data", // route bạn định nghĩa trong Express
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          title,
          slug,
          type,
          user,
        }),
        success: function (response) {
          alert("Thành công: " + response.message);
        },
        error: function (xhr, status, error) {
          alert("Lỗi: " + error);
        },
      });
    });
  });
</script>