<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">Event</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin/event2/event-list">list</a>
          </li>
          <!-- <li class="breadcrumb-item"><a href="#!">create new post</a></li> -->
          <!-- <li class="breadcrumb-item" aria-current="page">Home</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breack-crum -->

<div class="card">
  <div class="card-header">
    <h2>Event List</h2>
    <a class="btn btn-primary" href="/admin/event2/form-add-event">New event</a>
  </div>
  <div class="card-body">
    <table id="eventTbl" class="table .table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Place</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th>Show</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (events && events.length > 0) { %> <% events.forEach((e, index) =>
        { %>
        <tr>
          <td
            data-id="<%=e._id%>"
            class="event-name"
            style="cursor: pointer; color: blue; font-weight: 400"
          >
            <%=e.name%>
          </td>
          <td><%= e.place %></td>
          <td><%= new Date(e.startDate).toLocaleDateString('vi-VN') %></td>
          <td><%= new Date(e.endDate).toLocaleDateString('vi-VN') %></td>
          <td><%= e.status %></td>
          <td><%= e.isShow %></td>
          <td>
            <!-- <form action="/admin/event/delete-event/<%=e._id%>" method="POST">
              <button class="btn btn-danger" type="submit">DeleteDelete</button>
            </form> -->
            <button
              class="btn btn-danger btn-action-del-envent"
              data-id="<%=e._id%>"
            >
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="7" class="text-center">Không có sự kiện nào</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
  //
  $(document).on("click", "#eventTbl tbody td.event-name", function (e) {
    const eventId = $(this).data("id");
    if (!eventId) return;
    // alert(eventId)

    //luu vao localStorage
    localStorage.setItem("currentEventId", eventId);

    window.location.replace(`/admin/event2/form-edit-event/${eventId}`);

    // load pageMaster nếu có link trong td
  });
  //
  function handleAction() {
    const userConfirmed = window.confirm(
      "Bạn có chắc chắn muốn thực hiện hành động này?",
    );

    if (userConfirmed) {
      // Người dùng chọn "Yes"
      console.log("Thực hiện hành động...");
      // Thêm lệnh bạn muốn thực hiện ở đây
    } else {
      // Người dùng chọn "No"
      console.log("Hủy bỏ hành động.");
    }
  }

  //
  $(document).on("click", "#eventTbl .btn-action-del-envent", function () {
    const id = $(this).data("id");
    // alert(id)
    const row = $(this).closest("tr"); // tìm dòng chứa nút
    const userConfirmed = window.confirm(
      "R you sure? :)) ",
    );
    if (userConfirmed) {
      // Người dùng chọn "Yes"
      if (confirm("Bạn có chắc muốn xóa sự kiện này?")) {
        $.ajax({
          url: `/admin/event/delete-event/${id}`,
          type: "DELETE",
          success: function (res) {
            if (res.status) {
              row.remove();
            } else {
              alert(res.message || "Xóa thất bại");
            }
          },
          error: function (err) {
            console.error(err);
            alert("Lỗi server");
          },
        });
      }
    } else {
      // Người dùng chọn "No"
      console.log("Hủy bỏ hành động.");
    }
    //====================
  });
</script>
